// new comment

// Variables

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036

$font-stack: 'open sans','Gugi','halvatica'
$font-size: 14px



// Mixins

=circlething($rad, $height, $width, $bg, $color)
	-webkit-border-radius: 	$rad
	-moz-border-radius: 	$rad
	-ms-border-radius: 		$rad
	border-radius: 			$rad
	
	height: $height
	width: $width

	line-height: $height
	text-align:  center
	background-color: $bg
	color: 		$color
	
	margin: 0 auto

	
// Styles
body
	background: $pale
	color: $black
	font-family: $font-stack
	font-size: $font-size

article
	background: white
	width: 690px
	margin: -60px auto 0
	padding: 40px
	box-sizing: border-box
	position: relative
	z-index: -2
	

header
	+circlething(100%, 200px, 200px, $blue, white)
	h3
		font-size: $font-size + 2

footer
	+circlething(100%, 150px, 150px, $black, $pale)
	font-size: $font-size - 3
	position: relative
	z-index: -4
	margin-top: -60px